.needsWater {
  color: #333;
  background-color: #FC4971;
  object-fit: contain;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.needToWaterSoon {
  color: #333;
  background-color: #FCD449;
  object-fit: contain;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.watered {
  color: #333;
  background-color: #49FCD4;
  object-fit: contain;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
